# Airflow Files/Directories
config/
logs/
plugins/
dags/update_data.py
dags/__pycache__/
dags/.DS_Store

# Data files/directories
Other Data/
stock_data/
stock_data copy/
o-20231231.htm

# Other
.DS_Store
sec_data.ipynb
realty_income.twb
.~realty_income__74739.twbr
update_stock_data_manual.py