# Airflow Files/Directories
config/
logs/
plugins/
dags/update_data.py
dags/__pycache__/
dags/.DS_Store

# Data files/directories
Other Data/
stock_data/
stock_data copy/
o-20231231.htm

# Other
.DS_Store/
sec_data.ipynb
"Tableau Workbooks/.~realty_income__74739.twbr".DS_Store
